COMPOSE_PROJECT_NAME=mobile-auth-dev-env

FUSIONAUTH_APP_MEMORY=512M
FUSIONAUTH_URL=http://localhost:9011
FUSIONAUTH_DATABASE_URL=jdbc:postgresql://db:5432/fusionauth
FUSIONAUTH_DATABASE_USERNAME=__SET_DB_USER__
FUSIONAUTH_DATABASE_PASSWORD=__SET_DB_PASSWORD__
FUSIONAUTH_SEARCH_ENGINE_TYPE=database
FUSIONAUTH_APP_KICKSTART_FILE=/usr/local/fusionauth/kickstart/kickstart.json
FUSIONAUTH_APP_RUNTIME_MODE=development

DATABASE_ROOT_USERNAME=__SET_DB_ROOT_USER__
DATABASE_ROOT_PASSWORD=__SET_DB_ROOT_PASSWORD__
DATABASE_USERNAME=__SET_DB_USER__
DATABASE_PASSWORD=__SET_DB_PASSWORD__
DATABASE_NAME=fusionauth
